In [1]:
# Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the Data

In [3]:
df=pd.read_csv(r"D:\insu.csv")

In [4]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   45     NaN     110    60000
4   50  157.54      85    62000
5   55  165.00      76    65000
6   60  174.08      87    70000

# Handling the missing value

In [5]:
new_height=df.height.mean()

In [6]:
new_height

166.59

In [7]:
df.height=df.height.fillna(new_height)

In [8]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   45  166.59     110    60000
4   50  157.54      85    62000
5   55  165.00      76    65000
6   60  174.08      87    70000

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
reg=LinearRegression()

In [11]:
reg.fit(df[['age','height','weight']],df['premium'])

LinearRegression()

In [12]:
reg.predict([[23,165,56]])

array([13057.03186779])

In [13]:
import pickle

In [14]:
pickle.dump(reg,open("model.pkl","wb"))

In [15]:
reg.predict(pd.DataFrame([[23,167,78]]))

array([20688.98872083])